# Python
**/venv/
**/__pycache__/
*.pyc

# Environment files
**/.env

# Google credentials
Backend/atgeir-moae-dev-cfbe2c998d27.json
Backend/g-meet/client_secret.json

# Frontend build output
Frontend/dist/

# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Firebase / misc caches
.firebase/
firebase-debug.log
.cache/