# Python
**/venv/
**/__pycache__/
*.pyc

# Environment files
**/.env

# Google credentials
Backend/atgeir-moae-dev-cfbe2c998d27.json
Backend/g-meet/client_secret.json

# Frontend build output
Frontend/dist/